<h1>Introduction</h1>

<p>I was inspired to knock up this site after an evening talking to my eldest son Isaac who was asking about some physics homework associated with sound and waves. Twenty-five years ago I was employed as a defense consultant in the field of underwater warfare and had some great notes on oceanography and acoustics so I thought I would publish them to help him and maybe others understand the domain in general.</p>

<p>This is just a hobby project and hopefully, I can develop this over time and add more topics.

<p>Nice One</p>

<p>LordWagga (aka Steve Waugh) <br>
sawaugh@gmail.com</p>


<h1>Nature of Sound</h1>
<p>When a sound is heard it means that somewhere a moving or vibrating body has transmitted its vibrations to the eardrum. The ear combined with the brain has the power to recognize the source and classify the sound. The source may be the vibrating diaphragm of a loudspeaker, a vibrating string of a violin, or the vibrating column of air in an organ pipe; in all cases the origin of the sound is a moving source. The vibrations may be so slow that they can be seen, or of such high speed that the individual vibrations are indistinguishable. All sound, whether produced from a musical instrument or a complicated electronic device, behaves in the same way. The sound originates as a wave motion produced by a vibrating source and requires an elastic medium such as air or water for its transmission. Sound will not travel in a vacuum. </p>

<p>Consider the action of a vibrating piston located at one end of a rigid pipe containing water. Because the water is elastic the motion initiated by the piston is communicated to the adjacent particles resulting in changes of pressure in the form of alternate compressions and rarefactions (Fig 1). These constitute a wave train that propagates along the pipe at the speed of sound in water. The changes in pressure can be detected by a pressure-sensitive instrument such as a hydrophone. Sound waves are longitudinal waves because the particles transmitting the wave move back and forth in the direction of propagation. Longitudinal waves can be represented graphically by plotting pressure against time or distance. The peaks of the curve produced will then represent the compression phase, and the troughs the rarefaction phase (see Fig 1). </p>

<p>The distance between successive peaks and troughs, or between two corresponding points on successive waves, is the Wavelength (λ). The scientific symbol for wavelength is a Greek letter called lambda.</p>

<p>A complete wave motion, compression and rarefaction, (A to B in Fig 1), is a Cycle.  The number of cycles passing a given point in a given time is the Frequency (f), and is expressed in Hertz (Hz) (cycles per second), or kiloHertz (kHz) (thousands of cycles per second).  The deviation of the sound wave from the mean pressure level is the Amplitude and is an indication of the loudness of the sound. </p>

<%= image_tag('fig1.png') %>

<p>The wavelength can be expressed in terms of frequency and sound speed: wavelength (λ) = sound speed(c) / frequency (f) </p>

<p> For a constant value of sound speed, an increase in frequency will decrease the wavelength. Conversely, a decrease in frequency will increase the wavelength. The wavelengths for a selection of frequencies between 10Hz and 50 kHz for a typical sound speed in seawater of 1500m/sec, are given in Table 1. </p>

<p> Sounds can be produced over a wide range of frequencies from less than 20Hz (infrasonic) to more than 20 kHz (ultrasonic). Between these two frequencies is the audio frequency range. Since the wavelength varies inversely with frequency, long wavelengths occur at infrasonic frequencies and short wavelengths at ultrasonic frequencies. </p>

<p> TO DO: Add Table to visulize </p>

<h1>Speed of Sound In Water</h1>

<p>The speed of sound is the rate of travel of a sound wave in a medium (air or water), usually expressed in meters per second. In seawater the sound speed can be expressed as a function of temperature, salinity, and pressure, which in turn can vary with depth, season, geographic location, and time at a fixed location. In the absence of direct measurements the prediction of sound speed becomes a complicated matter and for most purposes an empirical formula based on experimental measurements is used.  </p>

<p>That decades ago it was generally accepted that the Wilson equation which presents the sound speed as a function of temperature, salinity, and depth was an effective measure of the speed of sound in water.  I am still validating if this is the case. In its simplified form it is expressed: </p>
<p>C = 1449 + 4.6T - 0.55T + 1.39(S-35) + 0.017D</p>
<p>where C = speed of sound in water in meters per second (m/sec). </p>
<p>T = temperature of water in °C. </p>
<p>S = salinity in parts per thousand (900) </p>
<p>D = depth below the surface in meters (m). </p>
<p>Salinity is considered because of its effect on the density and compressibility of water. Depth is used instead of pressure because it is more easily measured and the two are directly related.
Wilson's Equation demonstrates that the speed of sound in seawater varies directly with changes of temperature, salinity, and depth; an increase or decrease in any of these parameters by the amounts shown will similarly affect the sound speed by 1.7 m/sec.</p>
